Repository codespace-operator/common, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:rbac, area:tests, area:docs

.github/labeler.yml:

# Areas
"area:auth":
  - changed-files:
      - any-glob-to-any-file:
          - "auth/**"

"area:rbac":
  - changed-files:
      - any-glob-to-any-file:
          - "rbac/**"

"area:tests":
  - changed-files:
      - any-glob-to-any-file:
          - "test/**"
          - "**/**_test.go"

"area:docs":
  - changed-files:
      - any-glob-to-any-file:
          - "*.md"

Notes added by 'git notes add'
  e0c93f16aef7b01976ed52904df5c2ef62760677
Labels: none

feat(auth,rbac): release
  .github/release-config/release.common.cjs
  .github/release-config/release.pkg.cjs
  .github/workflows/release-common.yml
  .github/workflows/release-pkg.yml
  auth/go.mod
  auth/go.sum
  auth/pkg/auth/auth.go
  auth/pkg/auth/auth_helpers.go
  auth/pkg/auth/auth_middleware.go
  rbac/go.mod
  rbac/go.sum
  rbac/pkg/rbac/rbac.go
  rbac/pkg/rbac/rbac_helpers.go
  rbac/pkg/rbac/rbac_middleware.go
  rbac/pkg/rbac/rbac_unit_test.go
Labels: area:auth, area:rbac, area:tests

chore(release): auth 1.0.0 [skip ci]
  changelogs/CHANGELOG.auth.md
Labels: none

Notes added by 'git notes add'
  c82f76c114b2d9c087396274f7fd288b471f1fcf
Labels: none

fix(repo): non breaking 1.22->1.25
  .github/workflows/release-pkg.yml
Labels: none

fix(repo): remove unused watches
  .github/workflows/release-pkg.yml
Labels: none

fix(rbac): stub push
  rbac/pkg/rbac/rbac_unit_test.go
Labels: area:rbac, area:tests

chore(release): rbac 1.0.0 [skip ci]
  changelogs/CHANGELOG.rbac.md
Labels: none

Notes added by 'git notes add'
  d8fc3d22632b9b23b9b8ea26d919b521eec200fd
Labels: none

feat(rbac): appName as constant for modelpath
  rbac/pkg/rbac/rbac.go
  rbac/pkg/rbac/rbac_middleware.go
Labels: area:rbac

chore(release): rbac 1.1.0 [skip ci]
  changelogs/CHANGELOG.rbac.md
Labels: none

Notes added by 'git notes add'
  4dac9a67c1f58ca01354b40f8c64b03e1767e812
Labels: none

feat(auth): auth pkg bump due to immutability
  auth/pkg/auth/middleware_test.go
Labels: area:auth, area:tests

chore(release): auth 1.1.0 [skip ci]
  changelogs/CHANGELOG.auth.md
Labels: none

Notes added by 'git notes add'
  1ae80d5688d6790e144a108d45b9f994cbc11f77
Labels: none

feat(auth): auth pkg bump due to immutability
  auth/pkg/auth/auth.go
  auth/pkg/auth/auth_helpers.go
  auth/pkg/auth/auth_ldap.go
  auth/pkg/auth/auth_local.go
  auth/pkg/auth/auth_oidc.go
  auth/pkg/auth/auth_provider.go
  auth/pkg/auth/cookie.go
  auth/pkg/auth/local_provider_test.go
  auth/pkg/auth/middleware_test.go
Labels: area:auth, area:tests

chore(release): auth 1.2.0 [skip ci]
  changelogs/CHANGELOG.auth.md
Labels: none

Notes added by 'git notes add'
  7aa503322bc7c787c9103111ea2410bbb18297cc
Labels: none

feat(common): init common pkg
  .github/workflows/release-pkg.yml
  Makefile
  common/go.mod
  common/go.sum
  common/pkg/anchor.go
  common/pkg/anchor_test.go
  common/pkg/common.go
  common/pkg/common_misc_test.go
  common/pkg/http.go
  common/pkg/http_test.go
  common/pkg/info.go
  common/pkg/logging.go
  common/pkg/logging_test.go
  common/pkg/metadata.go
  common/pkg/metadata_test.go
Labels: area:tests

Notes added by 'git notes add'
  f76606826741bbc3d2e0183e78f13a041be1e819
Labels: none

chore(release): common 1.0.0 [skip ci]
  changelogs/CHANGELOG.common.md
Labels: none

fix(common): fix common pkg structure
  common/pkg/common/anchor.go
  common/pkg/common/anchor_test.go
  common/pkg/common/common.go
  common/pkg/common/common_misc_test.go
  common/pkg/common/http.go
  common/pkg/common/http_test.go
  common/pkg/common/info.go
  common/pkg/common/logging.go
  common/pkg/common/logging_test.go
  common/pkg/common/metadata.go
  common/pkg/common/metadata_test.go
Labels: area:tests

chore(release): common 1.0.1 [skip ci]
  changelogs/CHANGELOG.common.md
Labels: none

Notes added by 'git notes add'
  c4e445d1078e9deaafe0c0aa76d04b108bcf206e
Labels: none

fix(auth): enforce cfg paths as configured
  auth/pkg/auth/auth.go
  auth/pkg/auth/auth_middleware.go
  rbac/go.mod
  rbac/go.sum
Labels: area:auth, area:rbac

Notes added by 'git notes add'
  e648e7bee1118fa0bc65e15818910e69ba336550
Labels: none

chore(release): auth 1.3.0 [skip ci]
  changelogs/CHANGELOG.auth.md
Labels: none

fix(auth): centralize token management to `AuthManager`
  auth/pkg/auth/auth.go
  auth/pkg/auth/auth_helpers.go
  auth/pkg/auth/auth_ldap.go
  auth/pkg/auth/auth_local.go
  auth/pkg/auth/auth_oidc.go
  auth/pkg/auth/auth_token.go
  auth/pkg/auth/cookie.go
  auth/pkg/auth/cookie_test.go
  auth/pkg/auth/helpers_test.go
  auth/pkg/auth/http_auth.go
  auth/pkg/auth/http_auth_test.go
  auth/pkg/auth/local_provider_test.go
  rbac/pkg/rbac/rbac.go
Labels: area:auth, area:rbac, area:tests

Notes added by 'git notes add'
  f6202c0d91f9d4a215d1bcdce847a983efb1f42e
Labels: none

chore(release): auth 1.3.1 [skip ci]
  changelogs/CHANGELOG.auth.md
Labels: none

feat(rbac): decouple from auth, use a `Principal`
  rbac/go.mod
  rbac/go.sum
  rbac/pkg/rbac/principal.go
  rbac/pkg/rbac/rbac_middleware.go
Labels: area:rbac

chore(release): rbac 1.2.0 [skip ci]
  changelogs/CHANGELOG.rbac.md
Labels: none

Notes added by 'git notes add'
  d9cb42990b3d46f731d3458b97679f87f357e16e
Labels: none

feat(auth): config loader for auths
  auth/pkg/auth/auth.go
  auth/pkg/auth/auth_oidc.go
  auth/pkg/auth/config.go
Labels: area:auth

feat(auth): config loader for auths
  auth/pkg/auth/auth.go
  auth/pkg/auth/auth_oidc.go
  auth/pkg/auth/config.go
Labels: area:auth

chore(release): auth 1.4.0 [skip ci]
  changelogs/CHANGELOG.auth.md
Labels: none

Notes added by 'git notes add'
  49b0d5f1d846ad92040829c3855be9cb1cc49788
Labels: none

feat(auth): add public helpers
  auth/pkg/auth/config.go
Labels: area:auth

chore(release): auth 1.5.0 [skip ci]
  changelogs/CHANGELOG.auth.md
Labels: none

Notes added by 'git notes add'
  6122a97c7cd7cbbf7ebb77b55f35d25361915a02
Labels: none
